* {
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;    
}

/* Workspaces */
#workspaces {
    background: #feffde;
    padding: 4px 1px;
    border-radius: 12px;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 10px;
    color: rgba(120, 120, 90, 1);
    background-color: rgba(60, 60, 60, 1);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    font-size: 8px;
}
#workspaces button.active {
    color: rgba(40, 40, 40, 1);
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 200%;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}
#workspaces button:hover {
    background-color: rgba(60, 60, 60, 1);
    color: rgba(40, 40, 40, 1);
    background-size: 400% 200%;
    border-radius: 10px;
    min-width: 30px;
}
/* Tooltip */
tooltip {
    border-radius: 10px;
    background-color: #feffde;
    color: #000000;
}

#window, #pulseaudio, #bluetooth, #battery, #network, #clock, #exit, #hardware {
    background-color: #feffde;
    margin: 0px 5px;
    padding: 0px 5px;
    border-radius: 10px;
    color: #000000; 
}

